<html>
  <body>
    <h2>Mini Message board</h2>
    <form method="post" action="/new">
      <label>
        Author:
        <input type="text" name="author">
      </label>

      <label>
        Message:
        <input type="text" name="message">
      </label>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>