<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <html>
      <body>
        <h2>Mini Message board</h2>
        <form method="post" action="/new">
          <label>
            Name:
            <input type="text" name="username" required>
          </label>

          <label>
            Description:
            <input type="text" name="description" required>
          </label>

          <button type="submit">Submit</button>
        </form>
      </body>
    </html>
  </body>
</html>